# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Generated assets
public/images/lelariva-400.webp
public/images/lelariva-800.webp
public/images/lelariva.webp

# Local env files
.env
.env.*
!.env.example